@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*BOTTON*/

.btn{
    @apply text-sm mdl:text-base p-1.5 rounded bg-mainColor text-white cursor-pointer mdl:p-2 relative inline-block overflow-hidden z-0 transition-all w-32 text-center shadow-md;
}

.btn::before{
    @apply content-[""] absolute top-0 right-0 h-full w-0 bg-gray-700 -z-10 duration-200 transition-all ease-out;
}

.btn:hover::before{
    @apply left-0 w-full;
}

/*CLOUD ANIMATION*/

@keyframes cloud{
    0%{
        background-position-x: 0rem;
    }
    100%{
        background-position-x: -250rem;
    }
}

.cloud-animation {
  animation: cloud 15s linear infinite;
}

.animation-reverse{
    animation-direction:reverse;
    animation-duration:20s;
}

/*OUR SERVICES CARDS*/

.card{
    @apply flex flex-col items-center border border-gray-200 rounded shadow-xl px-10 py-12;
}

.card h1{
    @apply text-xl font-bold mdl:text-2xl py-3;
}

.card p{
    @apply text-gray-500 text-sm leading-7 mb-3;
}

/*TITLE H1*/

.title{
    @apply text-4xl mdl:text-45xl font-bold mb-7;
}

.title span {
    @apply text-mainColor rounded bg-mainColorL px-2 py-0.5;
}

/*MINI CARD ABOUT US*/

.miniCard{
    @apply rounded border-gray-200 flex flex-col items-center p-3 border text-center;
}

.miniCard svg{
    @apply md:w-12 mdd:p-3 rounded-full bg-mainColorL w-10 p-2.5;
}

.miniCard h3{
    @apply font-bold text-gray-500 mt-3 text-sm mdl:text-base;
}



.Pbox{
    @apply rounded border-gray-300 shadow-xl h-72 overflow-hidden relative
}

.Pbox span{
    @apply absolute top-0 right-0 font-bold text-5xl text-center p-5 text-gray-600
}

/**Important styles(Portfolio TRANSITIONS)**/

.Pbox::before{
    @apply absolute h-full w-full top-0 right-0 bg-white content-[""];
    clip-path: circle(30% at 93% 0);
    transition: .3s linear;
}

.Pbox:hover::before{
    clip-path: circle(100%);
}

.Pbox div{
    @apply absolute flex justify-center items-center flex-col w-full h-full top-44 opacity-0;
    transition: .3s linear;
}

.Pbox:hover div{
    @apply top-0 opacity-100;
}

/**Fin important styles(TRANSITIONS)**/

.Pbox div h3{
    @apply font-bold text-3xl text-gray-500
}

.Pbox div p{
    @apply text-gray-500
}

/*OUR PRICINGS*/

.PricingCard{
    @apply flex flex-col rounded shadow-lg border-3 border-gray-300 items-center py-8;
}

.PricingCard h2{
    @apply font-bold text-2xl;
}

.PricingCard img{
    @apply h-40 my-6;
}

.PricingCard h1{
    @apply text-mainColor 
}

.PricingCard h1 span{
    @apply font-bold text-4xl 
}

.PricingCard ul{
    @apply flex text-gray-500 flex-col py-3
}

.PricingCard ul li{
    @apply p-2 text-base
}

/*CLIENT'S REVIEW*/

.ClientCard{
    @apply rounded border-gray-200 shadow-md p-5 border-1;
}

.ClientCard div{
    @apply flex items-center pb-3
}

.ClientCard div div h2{
    @apply font-bold text-2xl mb-1 
}

.johndeo{
    @apply flex flex-col ml-3
}

.ClientCard p{
    @apply text-gray-400 leading-6 text-left italic text-sm
}

.stars i{
    @apply text-mainColor
}

.ClientCard div img{
    @apply rounded-full h-20
}

.quote{
    @apply h-20 ml-auto
}

/*CONTACT US*/

.ContactCard{
    @apply rounded border-gray-300 shadow-md border-2 ;
}

.ContactCard i{
    @apply text-mainColor 
}

input,textarea{
    @apply text-gray-500 bg-gray-300 border-gray-400 rounded 
}