@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply rounded bg-mainColor text-white cursor-pointer p-2 relative inline-block overflow-hidden z-0 transition-all w-32 text-center shadow-md;
}

.btn::before{
    @apply content-[""] absolute top-0 right-0 h-full w-0 bg-gray-700 -z-10 duration-200 transition-all ease-out;
}

.btn:hover::before{
    @apply left-0 w-full;
}

@keyframes cloud{
    0%{
        background-position-x: 0rem;
    }
    100%{
        background-position-x: -250rem;
    }
}

.cloud-animation {
  animation: cloud 15s linear infinite;
}

.animation-reverse{
    animation-direction:reverse;
    animation-duration:20s;
}

